<table style="width: 200px;  ">
    <thead class="bg-primary">
        <th style="text-align: center; margin-top: 10px;" class="text-white">produk</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">kelola produk</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">diskon</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">kategori produk</th>
    </thead>
</table>
<br>
<table style="width: 200px ;  ">
    <thead class="bg-primary">
        <th style="text-align: center; margin-top: 10px;" class="text-white">kelola toko</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">pembayaran</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">outlet</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 10px;">Inventori</th>
    </thead>
</table>
<table style="width: 200px;  ">
    <thead class="bg-primary">
        <th style="text-align: center; margin-top: 20px;" class="text-white">transaksi</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 20px;">penjualan</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 20px;">pembelian</th>
    </thead>
</table>
<table style="width: 200px ; margin-top: 20px;  ">
    <thead class="bg-primary">
        <th style="text-align: center; margin-top: 30px;" class="text-white">pengaturan</th>
    </thead>
    <br>
    <thead>
        <th style="text-align: center; margin-top: 30x;">Karyawan</th>
    </thead>
</table>