<app-sidebarku></app-sidebarku>
<div class="container_fluid">
    <div class="row">
        <div class="col-lg-2">
            <br>
            <app-samping></app-samping>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    <br>
                    <label> periode</label>
                    <input type="date" style="width: 150px;">-
                    <input type="date" style="width: 150px;">
                    <br>
                    <label>kasir</label>
                    <input style="margin-left: 18px; width: 310px;" type="text" value="semua kasir">
                </div>
                <div class="col-lg-6">
                    <br>
                    <label> jenis penjualan</label>
                    <input type="date" style="width: 150px; margin-left: 18px;">-
                    <input type="date" style="width: 150px;">
                    <br>
                    <label>customer</label>
                    <input style="margin-left: 55px; width: 310px;" type="text" value="semua kasir">
                </div>
            </div>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <button class="btn bg-primary text-white m-3 w-20"><a routerLink="_blank"
                        class="text-white">tampilkan</a></button>
                <button class="btn bg-danger text-white m-3 w-20"><a routerLink="#" class="text-white">PDF</a></button>
                <button class="btn bg-warning text-white m-3 w-20"><a routerLink="#"
                        class="text-white">excel</a></button>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="" style="width: 18rem;">

                        <!-- tabelll -->
                        <table class="table table-dark mb-0" style="width: 435px;">
                            <thead>
                                <tr>
                                    <th style="width: 100px; text-align: center;">NO</th>
                                    <th style="width: 200px; text-align: center;">produk</th>
                                    <th style="width: 250px; text-align: center;">harga</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="text-align: center;" scope="row">1</th>
                                    <td style="text-align: center;">nasi</td>
                                    <td style="text-align: center;">500</td>
                                </tr>
                                <tr>
                                    <th style="text-align: center;" scope="row">2</th>
                                    <td style="text-align: center;">mie ayam</td>
                                    <td style="text-align: center;">7.000</td>
                                </tr>
                                <tr>
                                    <th style="text-align: center;" scope="row">3</th>
                                    <td style="text-align: center;">es jeruk</td>
                                    <td style="text-align: center;">9.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">

                    <div class="table" style="width: 18rem; margin-left: 150px;">

                        <!-- tabelll -->
                        <table class="table table-dark mb-0" style="width: 670px;">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">KASIR</th>
                                    <th style="text-align: center;">TOTAL TRANS</th>
                                    <th style="text-align: center;">JENIS PEMBAYARAN</th>
                                    <th style="text-align: center;">CUSTOMER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th style="text-align: center;">arzaq</th>
                                    <td style="text-align: center;">20</td>
                                    <td style="text-align: center;">tunai</td>
                                    <td style="text-align: center;">member</td>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">dika</th>
                                    <td style="text-align: center;">3</td>
                                    <td style="text-align: center;">non tunai</td>
                                    <td style="text-align: center;">non member</td>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">riki</th>
                                    <td style="text-align: center;">4</td>
                                    <td style="text-align: center;">tunai</td>
                                    <td style="text-align: center;">member</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-3">
                </div>
            </div>
        </div>

    </div>
</div>