<!-- navbar -->
<nav style="border: 4px;" class=" navbar-header navbar-expand-lg navbar-white bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white " routerLink="../dashboard">Dashboard</a>
            </li>
            <li class=" nav-item">
                <a class="nav-link text-white" routerLink="../laporan-penjualan">Laporan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="../produk">Produk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Inventori</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Pelanggan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="#">Outlet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Karyawan</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-xl-end ">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a routerLink="/auth/loginku" class="nav-link text-white">LogOut</a>
            </li>
        </ul>
    </div>
</nav>