<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<body
    style="background-image: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wwu9?ver=69d6');">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="mx-auto my-5 w-25 p-5 bg-light border border-2 shadow bg-body rounded">
                    <div class="py-5">
                        <div class="py-5">
                            <div class="py-1">
                                <form action="index.html" method="post" class="box">
                                    <div class="header">
                                        <h1 class="d-flex justify-content-center mb-5"
                                            style="font-family: 'Noto Sans JP', sans-serif;">
                                            LOGIN
                                        </h1>
                                        <p></p>
                                    </div>
                                    <div class="login-area">
                                        <input type="text" class="mb-3" placeholder="username" />
                                        <br>
                                        <br>
                                        <input type="password" class="mb-3" placeholder="password" />
                                        <br>
                                        <br>
                                        <input type="submit" value="login" class="btn bg-primary rounded border-3 " />
                                        <br>
                                        <br>
                                        <a href="#">forgot password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>